<html>
  <head>
    <title> {{htmlWebpackPlugin.options.title}} </title>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
  </head>
  <body>
        <h2> {{htmlWebpackPlugin.options.description}}  </h2>
  </body>

  </head>

</html>